@import url("./core/reset.css");
@import url("./core/variables.css");

/* Text */
@import url("./core/text/text.css");

/* Layout */
@import url("./core/layout/body.css");
@import url("./core/layout/header.css");
@import url("./core/layout/main.css");
@import url("./core/layout/footer.css");

/* Input */
@import url("./core/input/button.css");
@import url("./core/input/checkbox.css");
@import url("./core/input/select.css");

/* Menu */
@import url("./core/menu/menu.css");

@import url("./core/toast.css");
@import url("./core/icon.css");
@import url("./core/code.css");
@import url("./core/drawer.css");
@import url("./core/utils.css");
@import url("./core/separator.css");


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Divers
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 16px;

  .category {
    background-color: var(--color--bg-default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: var(--border-radius--default);
    gap: 8px;

    .category-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      .category-title {
        font-size: 18px;
        font-weight: 500;
      }

    }
    
    .category-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      gap: 8px;
      
      select {
        width: 100%;
        align-items: flex-start;

        selectedcontent {
          max-width: calc(100% - 10.55px - 8px);
          text-wrap: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }

      }

      .category-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 8px;
      }
    }

  }
}

.main-text-area {
  width: 100%;
  height: 100%;
  background-color: var(--color--bg-default);
  color: var(--color--fg-default);
  padding: 8px;
  border-radius: var(--border-radius--default);
  border: 1px solid var(--color--fg-default);
  font-family: 'consolas';
}

.slide-panel {
  background-color: var(--color--bg-alt);
  position: absolute;
  bottom: 0svh;
  min-width: 100svw; width: 100svw; max-width: 100svw;
  min-height: 100svh; height: 100svh; max-height: 100svh;
  transition: bottom linear .2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px var(--horizontal-padding);
  gap: 16px;

  .slide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color--fg-default);
    padding-bottom: 8px;

    h1 {
      margin: 0;
    }
  }

  .slide-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .values-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      gap: 16px;
  
      .value-bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--color--bg-default);
        border-radius: var(--border-radius--default);
        padding: 8px;

        .value-title {
          font-weight: 500;
        }
  
        .edit-buttons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }




  input {
    width: 100%;
    background-color: var(--color--bg-default);
    color: var(--color--fg-default);
    padding: 8px;
    border-radius: var(--border-radius--default);
    border: 1px solid var(--color--fg-default);
    font-family: 'consolas';
  }

  textarea {
    width: 100%;
    height: 100%;
    background-color: var(--color--bg-default);
    color: var(--color--fg-default);
    padding: 8px;
    border-radius: var(--border-radius--default);
    border: 1px solid var(--color--fg-default);
    font-family: 'consolas';
  }

  &.hidden {
    bottom: -100svh;
  }
}


